@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  font-family: Roboto;
}

/* Default state: Hide the receipt */
.receipt {
  display: none;
}

@media print {
  /* Hide everything except the receipt */
  body * {
    visibility: hidden;
  }

  /* Ensure the receipt and its children are visible */
  .receipt, .receipt * {
    visibility: visible;
  }

  /* Style the receipt to start at the top of the page */
  .receipt {
    display: block; /* Make the receipt visible during print */
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0; /* Ensure the receipt starts from the top */
    left: 0;
    width: 100%;
    max-width: 400px; /* Set width similar to a POS receipt */
    box-shadow: none; /* Remove any shadow for printing */
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
